# Database
DATABASE_PATH=LEADs.db

# API
API_PORT=
API_HOST=

# Scraper
SCRAPER_TIMEOUT=30
SCRAPER_RETRIES=3
SERPER_API_KEY=afdasfa

# Webhook
WEBHOOK_URL=https://your-endpoint.com/api
WEBHOOK_BATCH_SIZE=10

MAKE_LEAD_KEY=sdfsdgs
# Logger
LOG_LEVEL=DEBUG